.bvideo a:link {
  text-decoration: none !important;
}

.bvideo-box {
  width: 80%;
  height: 96px;
  margin: 0 auto;
  font-weight: 400;
  box-sizing: border-box;
  background: var(--grey-1, #fcfcfc);
  border: 0.0625rem solid #d1d1d1;
  border-radius: 6px;
  display: flex;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
}

.bvideo-cover {
  display: inline-block;
  width: 150px;
  height: 94px;
  min-width: 150px;
  min-height: 94px;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
  overflow: hidden;
  position: relative;
}

.bvideo-cover .video-cover-img {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  display: inline-block;
  background-size: cover;
  background-position: 50%;
}

.bvideo-cover .duration {
  position: absolute;
  right: 3px;
  bottom: 0px;
  padding: 0px;
  color: #fff;
  font-size: 12px;
  border-radius: 2px;
  text-shadow: 2px 2px 5px #222;
}

.bvideo-cover .bvideo-cover-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}

.bvideo-info {
  margin-left: 10px;
  padding-top: 10px;
  min-height: 84px;
  position: relative;
  text-align: left;
  width: 0;
  flex: 1;
}

.bvideo-info .title {
  max-height: 40px;
  min-height: 19px;
  color: var(--grey-8, #222);
  line-height: 1.4;
  font-size: 14px;
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  margin: 0;
}

.bvideo-info .up-name {
  height: 19px;
  margin-top: 1px;
  margin-left: 2px;
  vertical-align: middle;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 150px;
}

.bvideo-info .card-status {
  font-size: 12px;
  line-height: 13px;
  color: #999;
  position: absolute;
  bottom: -1px;
}

.bvideo .svg-play {
  display: inline-block;
  background-color: #999;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  -webkit-mask: url(/svg/play.svg) no-repeat 100% 100%;
  mask: url(/svg/play.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.bvideo .svg-danmaku {
  display: inline-block;
  background-color: #999;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  -webkit-mask: url(/svg/danmaku.svg) no-repeat 100% 100%;
  mask: url(/svg/danmaku.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.bvideo .svg-up {
  display: inline-block;
  background-color: #999;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  -webkit-mask: url(/svg/up.svg) no-repeat 100% 100%;
  mask: url(/svg/up.svg) no-repeat 100% 100%;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.bvideo-info .play-num {
  margin-right: 13px;
}

.bvideo-info .partition {
  line-height: 13px;
  font-size: 12px;
  color: #999;
  margin: 0;
  position: absolute;
  bottom: 20px;
}

.icon-video {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAfQAAAH0CAMAAAD8CC+4AAAAY1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+aRQ2gAAAAIXRSTlMAmTaHC5IrBwSMfpWDZW5eWEgSd49AH1FEMXIZFiY7DxSis5l0AAAHnUlEQVR42uzBgQAAAACAoP2pF6kCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGB27S23QSCGwrDNwHApEHJByu0h+19lo6pV+1C1STDSGP5vC5YH+2AAAAAAAAAAAACkKI/j0Dd1ofjwdmibfhhjLgtVxqFR/K4ZYimLEzva+29FF2VJymNQ/C8cF9Pu1bFWPKbeVrIEGV3+jJCJe7te8Zx+J75ljG/PK1w3e7VRvGLj98ue7xWv2XuNa26t4lXtTTy6MLVPES7iz5WaTxOu4k3O2z5V6+27XjHDTbd3NsOzq1nYiCeZwoKnlGZHDmejcJTIkrdb6cULHvf1PfAlG7qd4OSsYquwsxUPSu5kLB1ctPqosDSKA+SvtoKkLypsObiM7hS2OkldSRhnrUh+lDsprJ0kcYPC2iCJY3a310racoW9xE9oWNi+rGhpI3f/tpr8nTOpH9ZyNnVW2DtL0hjeP61pfOe36hxqSRoh7BwKSZpiDpI0xR1FB0UHRQdFB0UHRV8tSZrijqK/s3dvq1UFQRCG/2pCDHihEbNFEs37v6WgiIdsm2yzsKrH+V6hLoY1tbpn26FvO/Rth77t0Lcd+n+LaNok7dD/sTcrLj8hmuzq5na933eIJruCx+XGpYkmuwI4LbaalmiyK776vNR/uUSTXfHNqw+vtQyiya747mGdo51osit++LTKi75Ek13xs7s1jnaiya74xdXbFY52osmu+M39AovIiSa74onr8bO0RJNdnX3M+71GI5rsinMeZ6/IIJrsivNOk5dkEE12teLr/USTXfFHN7dTP9+IJrui8W7ozSzRZFe0TiNvZokmuyb0uaUr0WTXhD63dCWa7JrQ55auRJNd8RzXs452osmueJ67STezRJNdE/rc0pVosmtCn1u6Ek12xQU+DildiSa74hJDxmGIJrsm9LmlK9FkV1xiyDgM0WTXhD63dCWa7Iqnxt/MEk12TehzS1eiya64xJBxGKLJrgl9bulKNNkVf+8q9WgnmuyKl3jIvJklmuya0OeWrkSTXfFSgeMwRJNdE/rc0pVosisOcB82DkM02TWhzy1diSa7JvS5pSvRZNeEPrd0JZrsmtDnlq5Ek11xpMq4mSWa7JrQ55auRJNdE/rc0pVosmtCn1u6Ek12xTGidhASTXZN6HNLV6LJrrjEkHEYosmuOEbUDkKiya44RtQOwi/s3e1y2jAQheGj5ZtpiCHJTEjyI/d/lU1TMkPr2W5sTLVHnOcW3gEbrSSQWqnOcEXz+1KBokcM00h1ByFSK9UZruw4K/+ZokcMLt6hK1Ir1RkczCuzSK1UZ3DxDl2RWqluSHSawzBIrVTnRaeewCC1Up2hj/yJrugRA/rYd1UgtVLdkOg0l1YgtVJdLzrxS/uJokf60RvYE43USnWGc9wLcSeKHulHb+CcE1Ir1fWjN3CiEamV6vrRGzi7jNRKdUOi01wNj9RKdf3oDdxHgtRKdf3oDdw8hNRKdQagle3uJ4oeMd4BqkfRI8Y7QPUoesR4B6geRY8YprBO8jD/pOgR4x2gehQ9YrwDVI+iR4x3gOpR9Ihdekgx0fVxJ4oeMd4BqkfRI8Z68YBP0SPGO0D1KHrEWC8T8il6xOjXXHsUPWIY4S3TmmuPokeM5NDKAIoeMd4BqkfRI0a/5tqj6BHjHaB6FD1iJIdWBlD0iPEOUD2KHrHcN8KNoegRy3334xiKHrHct7yOoegRy32f8xiKHjHeAapH0SPGO0D1KHrEeAeoHkWPGO8A1aPoEYPrnWPNtUfRI8Y7QPUoesRy/2vqGIoeMd4BqkfRI0ZyaGUARY8Y7wDVo+gRIzm0MoCiR4x3gOpR9IjRr7n2KHrkPDrZANWj6BFLdevfJBQ9Yqlu/ZuEokcs1a1/k1D0iJEcWhlA0SPGO0D1KHrESA6tDKDokZemHuafFP0mIbUiHxRdFF0UXRRdFF0U/WYhtSIfFF0UXRRdFF0UXRiitzjXTACptbLnOJcFUqO5g5HKBqk1tzsthR9IrYmTY+m8IDX2g+A53SO1fZHp7ZHassj0lkhtXmR6c+TWwLUP6SR/edeb3DV0SO5YZGpHJLeiv8kpncUK2TV4fLCyO6SnH22/3NAPNs1crmAGAk9FpvQMAivN1Kf0mP81Tuvvv93MuvuXlZ7q05lxfNABKzIVA4uW7u2rawcaBy3LTWPxDh76gr+1L3cN225km9Tf1tx/lJPDwxpc5tpNcakf2TfM9L3p1/plZm/g86rql5i9gtFBx13G2x7Aaa63ubEe+J7nX9ZdkTE6tvf2Pxw1Zx3uMf1OyMBB6/BD7Vgf52dMb/FDzLiWXj3rfWN/o3NFmz310/zc6lmf9u+YPbNsmfie5Z3Grf+2uGPY6zzQatlptcaz7ZZtfcjPzJdP3W670Yf+y2Kz3XVPS96lGBH5yR4cCAAAAAAA+b82gqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqtAcHJAAAAACC/r/uR6gAAAAAAMBM5ycx64wLO3QAAAAASUVORK5CYII=);
  position: absolute;
  background-size: 100% 100%;
  display: inline-block;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  height: 50px;
  width: 50px;
}

.card-label {
  display: inline-block;
  font-weight: 550;
  width: 25px;
  height: 13px;
  border: 1.5px solid #ffc3d4;
  color: #ffc3d4;
  background-size: 100% 100%;
  position: absolute;
  top: -1px;
  left: 0;
  padding-left: 1px;
}

.bvideo-cover .cover-default {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: 44px;
  background-color: #f0f1f4;
  background-position: 50%;
  background-repeat: no-repeat;
}

@media (max-width: 540px) {
  .bvideo-box {
    width: 90%;
    height: 96px;
    margin: 0 auto;
    font-weight: 400;
    box-sizing: border-box;
    background: var(--grey-1, #fcfcfc);
    border: 0.0625rem solid #d1d1d1;
    border-radius: 6px;
    background-color: #fcfcfc;
    display: flex;
    user-select: none;
    cursor: pointer;
    overflow: hidden;
  }

  .bvideo-cover {
    display: inline-block;
    width: 120px;
    height: 94px;
    min-width: 120px;
    min-height: 94px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    overflow: hidden;
    position: relative;
  }
}

@media (max-width: 360px) {
  .bvideo-cover {
    display: none;
  }
}

@media (any-hover: hover) {
  .bvideo-box:hover {
    box-shadow: 0 0 15px 2px #0000002f;
  }

  .bvideo-box:hover .bvideo-cover-layer {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
